#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

.header {
  margin: 1rem;
  border-radius: 5px;
  background: #888;
  box-sizing: border-box;
  margin-right: 1rem;
}

.chatlines {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: scroll;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row-container {
  gap: 1rem;
  width: 100%;
  height: flex-grow;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.col-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: strech;
}

.expand {
  width: 100%;
  height: 100%;
}

.scrollable-div {
}

.chatbar {
  bottom: 0;
}
